<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>
    <%- include('navbar') %>
    <table style="border: 1px solid;">
        <thead>
            <tr>
                <th>제목</th>
                <th>작성일</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0; i<data.length; i++){ %>
                <tr>
                    <td><a href = "/content/<%= data[i]._id %>"><%= data[i].title %></a></td>
                    <td><%= data[i].date %></td>
                    <td><button class="delete" data-id='<%=data[i]._id %>'>삭제</button></td>
                </tr>
                <% } %>
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        $('.delete').click(function(e){
            let sid = e.target.dataset.id;
            $.ajax({
            type : 'post',
            url : '/delete',
            data: {_id :sid}
            }).done(function(result){
                location.reload();
            }).fail(function(xhr, textStatus, errorThrown){

            })
        })
    </script>
</body>
</html>